
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
h1 {
  margin: 0 0 15px;
}
.rpc-table {
	margin: 2em 0;
	overflow: auto;
	width: 100%;

}
.rpc-table table {
  font-size: 0.9em;
  width: 100%;
}
.rpc-table table caption {
  text-align: center;
}
.rpc-table table th,
.rpc-table table td {
  border: 1px solid #dddddd;
  padding: 0.5em 0.5em;
}
.rpc-table table th {
  background-color: #eeeeee;
  font-weight: bold;
}
.rpc-table table tr:nth-child(even) td {
  background-color: #f8f8f8;
}
#logo {
  float: right;
  height: 60px;
  margin: 0 0 0 15px;
}

.arcgis-tip #map {
  height: 600px;
  max-height: 100vh;
  width: 80%;
}

.arcgis-tip #info-pane {
  border: 1px solid rgba(0, 0, 0, 0.05);
  height: 600px;
  float: right;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 1em;
  width: 20%;
}

.arcgis-tip .message-info {
  background-color: #dff1f7;
  border: 1px solid #1595bf;
  font-size: 0.9em;
  padding: 0.1em 0.5em;
}

.arcgis-tip .message-info::before {
  background-color: #1595bf;
  color: white;
  content: "!";
  display: inline-block;
  font-weight: bold;
  margin: -0.1em 0.5em -0.1em -0.5em;
  padding: 0.1em 0.5em;
}

.arcgis-tip #legend table {
  margin-bottom: 0;
}

.arcgis-tip #feature-attributes {
  font-size: 0.85em;
}

.arcgis-tip #feature-attributes h2 {
  font-size: 1.3em;
}

.arcgis-tip #feature-attributes dd {
  margin: 0 0 1em 0;
}

#tip-table_wrapper {
  margin-top: 1em;
}

#tip-advanced-filters {
  background-color: #eeeeee;
  clear: both;
  padding: 1em;
}

.tip-filter {
  display: inline-block;
  margin: 0 1em 1em 0;
}

.tip-filter label {
  margin-right: 0.5em;
}

.tip-filter-reset {
  vertical-align: middle;
}

div.dt-button-collection {
  width: 15em;
}

#tip-table {
  border-collapse: collapse;
  box-sizing: border-box;
}

.tip-updated {
  font-style: italic;
}
